# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Model cache files
model/*.joblib

# OS-specific
.DS_Store
Thumbs.db

# PyCharm project settings
.idea/

# Environment variables
.env

# Logs
*.log
